<%- layout("/layouts/boilerplate-nav.ejs") %>
<script>
    const mapAccessToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>
</script>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3><b><%= listing.title %></b></h3>
        </div>
        <div class="card listing-card col-6 offset-3">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing image">
            <div class="card-body">
                <p class="card-text">Owned by <i><b><%= listing.owner.username %></b></i></p>
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text"><b><i>Price: </i></b><%= listing.price.toLocaleString("en-IN") %>/night</p>
                <p class="card-text"><b><i>Country: </i></b><%= listing.country %></p>
                <p class="card-text"><b><i>Location: </i></b><%= listing.location %></p>
            </div>
        </div>
    </div>    
    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
        <div class="btns mb-5">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 editbtn">Edit</a>
            <form method="post" action="/listings/<%= listing.id %>/delete?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
    <% } %>
    
    <div class="col-8 offset-3">
        <% if (currUser) { %>
            <hr>
            <h4><b>Leave a Review</b></h4>
            <form action="/listings/<%= listing.id %>/review" method="post" class="needs-validation" novalidate>
                <div class="mb-3 mt-3">  
                    <label for="rating" class="form-label">Rating</label> 
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div class="invalid-feedback">Enter a valid review</div>
                </div>
                <div class="mb-3 mt-3>
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a comment</div>
                </div>
                <button class="btn btn-outline-dark mb-3">Submit</button>
            </form>
        <% } %>
    </div>
        
    <% if (listing.reviews.length > 0) { %>
        <div class="col-8 offset-3">
            <hr>
            <h4>All Reviews</h4>
            <div class="row">
                <% for(review of listing.reviews) { %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title mt-3"><i>@<%= review.author.username %></i></h5>
                            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                            <p class="card-text"><%= review.comment %></p>
                            <% if (currUser && currUser._id.equals(review.author._id)) { %>
                                <form method="post" action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" class="mb-3">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
    <div class="col-8 mb-5 offset-3">
        <hr>
        <h3 class="mb-3" style="font-weight: 700;">Where you'll be</h3>
        <div id="map"></div>
    </div>
</body>
<script src="/JS/map.js"></script>